.navbar {
  width: 100%;
}

.navbar-wrapper {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 12px;
  padding: 0.75rem 1rem;
  border-bottom: 2px solid #29292a;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  color: inherit;
  margin-left: 10%;
}

.navbar-logo {
  height: 80px;
  width: auto;
}

.navbar-search {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.navbar-input {
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-width: 250px;
  min-height: 35px;
  font-size: medium;
  background: #3b3f42;
}

.navbar-input:hover {
  border-color: gray;
}

.navbar-input:focus-within {
  background: #2b2e30;
  border-color: gray;
}

.navbar-actions {
  display: flex;
  gap: 15px;
  min-width: 360px;
}

.navbar-actions .navbar-link,
.navbar-actions .navbar-btn {
  min-height: 35px;
  min-width: 80px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  padding: 0.4rem 0.6rem;
  border: 1px solid #413e3e;
  background: #b8c5cf;
  border-radius: 4px;
}
